.button {
  background: #ff0000;
  color: white;
  border: none;
  padding: 0.4vw 3vw;
  border-radius: 0.417vw;
  transition: all 0.2s ease;
  font-size: 1vw;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

.button:hover {
  background: #ff3b3b;
  transform: scale(1.05);
  box-shadow: 0 0 0.521vw rgba(255, 0, 0, 0.7); 
}
